<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

            <div class="row">
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                    <div class="card">
                        <img height="350px"  src="https://skhospitals.com/Images/Doctors/doc_866954731.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Dr. Ashish S Nair</h5>
                          <p class="card-text">Consultant Urologist</p>
                          <a href="#" class="btn btn-primary">View/Consult</a>
                        </div>
                      </div>



                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card">
                        <img height="350px"  src="https://skhospitals.com/Images/Doctors/doc_498331857.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Dr. A Mohamed Ali</h5>
                          <p class="card-text">Consultant Ophthalmologist</p>
                          <a href="#" class="btn btn-primary">View/Consult</a>
                        </div>
                      </div>



                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card">
                        <img height="350px"  src="https://skhospitals.com/Images/Doctors/doc_1804229384.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Dr. Ajith Ravindran</h5>
                          <p class="card-text">Consultant General & Laparoscopic Surgeon</p>
                          <a href="#" class="btn btn-primary">View/Consult</a>
                        </div>
                      </div>




                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card">
                        <img height="350px"  src="https://skhospitals.com/Images/Doctors/doc_526661389.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Dr. Anju Das</h5>
                          <p class="card-text">Consultant Radiologist</p>
                          <a href="#" class="btn btn-primary">View/Consult</a>
                        </div>
                      </div>




                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card">
                        <img height="350px"  src="https://skhospitals.com/Images/Doctors/doc_638093121.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Dr. Anto George</h5>
                          <p class="card-text">Consultant Nephrologist</p>
                          <a href="#" class="btn btn-primary">View/Consult</a>
                        </div>
                      </div>




                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card">
                        <img height="350px"  src="https://skhospitals.com/Images/Doctors/doc_88664824.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Dr. Ganapriya GP</h5>
                          <p class="card-text">Consultant Pulmonologist</p>
                          <a href="#" class="btn btn-primary">View/Consult</a>
                        </div>
                      </div>




                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card">
                        <img height="350px"  src="https://skhospitals.com/Images/Doctors/doc_131781048.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Dr. Beena Sathyabhama Devi</h5>
                          <p class="card-text">Consultant Gynecologist</p>
                          <a href="#" class="btn btn-primary">View/Consult</a>
                        </div>
                      </div>




                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card">
                        <img height="350px"  src="https://skhospitals.com/Images/Doctors/doc_665133132.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Dr. Kailas Viswanath</h5>
                          <p class="card-text">Lead Surgeon</p>
                          <a href="#" class="btn btn-primary">View/Consult</a>
                        </div>
                      </div>




                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card">
                        <img height="350px"  src="https://skhospitals.com/Images/Doctors/doc_991538819.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Dr. M L D Unnithan</h5>
                          <p class="card-text">Senior Consultant</p>
                          <a href="#" class="btn btn-primary">View/Consult</a>
                        </div>
                      </div>



                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card">
                        <img height="350px"  src="https://skhospitals.com/Images/Doctors/doc_1300214595.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Dr. Neehar M Shanavas</h5>
                          <p class="card-text">Consultant Gastroenterologist</p>
                          <a href="#" class="btn btn-primary">View/Consult</a>
                        </div>
                      </div>




                </div>
            </div>







        </div>
    </div>
</div>


