<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

            <div class="row g-3">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
<label for="" class="form-label">Department</label>
<select name="" id="" class="form-control">
    <option value=" Internal Medicine  "> Internal Medicine  </option>
    <option value="General & Laparoscopic Surgery">General & Laparoscopic Surgery</option>
    <option value="Obstetrics & Gynecological">Obstetrics & Gynecological</option>
    <option value="Urology Department">Urology Department</option>
    <option value="Cardiology Department">Cardiology Department</option>
    <option value="Paediatric Surgery">Paediatric Surgery</option>
    <option value="Oncology Department">Oncology Department</option>
    <option value="Dermatology Department">Dermatology Department</option>
    <option value="Gastroenterology">Gastroenterology</option>
    <option value="Radiology & Imaging">Radiology & Imaging</option>
    <option value=" Emergency & Trauma Care">Emergency & Trauma Care</option>
    <option value="Endocrinology">Endocrinology</option>
    <option value="Nephrology">Nephrology</option>
    <option value="Nutrition and Dietetics">Nutrition and Dietetics</option>
    <option value="Holistic Medicine">Holistic Medicine</option>
</select>



                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
<button class="btn btn-success">Search</button>




                </div>
            </div>









        </div>
    </div>
</div>



